{% extends 'base.html.twig' %}

{% block title %}Hello DeletedUserController!{% endblock %}

{# page to render the message that your user as been deleted #}
{% block body %}


<div class="example-wrapper">
    <h1>Your user has been deleted</h1>

</div>
{% endblock %}
