{% extends 'base.html.twig' %}

{% block title %}Hello DeletedArticleController!{% endblock %}

{# page to render the message that your article as been deleted #}
{% block body %}


<div class="example-wrapper">
    <h1>Your article has been deleted</h1>

</div>
{% endblock %}
